<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- the hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false" (click)="toggleState()">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
            <a routerLink="/" class="navbar-brand"><i class="fa fa-code" aria-hidden="true"></i> ANNA BUYEVICH</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-nav-demo" [ngClass]="{ 'in': isIn}">
            <ul class="nav navbar-nav">
                <li><a routerLink="/" routerLinkActive="active">HOME</a></li>
                <li><a routerLink="/projects" routerLinkActive="disabled">PROJECTS</a></li>
                <li> <a routerLink="/skills" routerLinkActive="disabled">SKILLS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a href="https://github.com/annabuyevich" class="clickable"> <i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="mailto:avbuyevich@gmail.com" class="clickable"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/annabuyevich/>" class="clickable"> <i class="fa fa-linkedin" aria-hidden="true"> </i></a>
            </ul>
        </div>
    </div>
</nav>