<div class="container">
    <img src="assets/Graphics/me.jpg" data- src="assets/Graphics/me.jpg" alt="Beautiful landscape sunrise" class="img-circle">

    <div class="jumbotron">
        <p>

            Hi, I am Anna Buyevich. I am a senior studying Computer Science at the University of Illinois at Urbana-Champaign. Recently, I worked at Capital One as a Software Engineer Intern. I worked on the Card Core team that migrated an EC2 Postgres Database to
            Amazon Aurora Mysql while also redesigning the daily load process that has roughly 200 requests a second.


            <app-contact></app-contact>

        </p>

    </div>


</div>