<div class="main container">
    <!-- FOURTH EXAMPLE -->
    <div class="row">
        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/Graphics/pokemon.png" style="image-rendering: -webkit-optimize-contrast;" />
            <div class="mask col-md-4  ">
                <h2>Pokémon Egg Move Calculator </h2>
                <p> Given a Pokémon as an ending node and a move as parameters constructs a modified level-based Breadth First Search algorithm for finding every possible path from various starting Pokémon to create your chosen Pokémon with the specified
                    egg move
                </p>
                <a href="https://waf.cs.illinois.edu/discovery/Pokemon-Egg-Move-Calculator/" class="info ">Learn More</a>
            </div>
        </div>
        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/Graphics/mindful.png" style="image-rendering: -webkit-optimize-contrast;" />
            <div class="mask col-md-4  ">
                <h2>Mindful</h2>
                <p> Mindful is a website to promote positive mental health. Microsoft's Face and Text Analysis APIs from their Cognitive Services suite are run in Python scripts to analyze image and text data to predict the user's emotion.
                </p>
                <a href="https://github.com/annabuyevich/mindful" class="info ">Learn More</a>
            </div>
        </div>
        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/Graphics/nst.png" />
            <div class="mask col-md-4  ">
                <h2>Neural Style Transfer for Transferring Building Texture</h2>
                <p> Collaborated on project that used the neural style transfer algorithm to generate an image of a building using building to represent the content image and another building representing the style.
                </p>
                <a href="https://github.com/ebatuhankaynak/DeepPotato" class="info ">Learn More</a>
            </div>
        </div>

        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/Graphics/timeslot.png" />
            <div class="mask col-md-4  ">
                <h2>Timeslot</h2>
                <p>Allowed users to create teams and schedule meetings appropriately. Collaborated on a CRUD Web Application at Royal Institute of Technology in Stockholm, Sweden. Tech stack included Flask and SQLite.</p>
                <a href="https://github.com/annabuyevich/timeslot" class="info ">Learn More</a>
            </div>
        </div>

        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/Graphics/self_driving_car.png" />
            <div class="mask col-md-4  ">
                <h2>Self Driving Car</h2>
                <p>A game where you can draw sand and have the car try to figure out how to go from town to the airport and back. The car uses Deep Q-Learning to figure out everything on its own.</p>
                <a href="https://github.com/annabuyevich/Self-Driving-Car " class="info ">Learn More</a>
            </div>
        </div>

        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/Graphics/Searchable.png" />
            <div class="mask col-md-4  ">
                <h2>Searchable</h2>
                <p>A text editor with complex search features. Searches Synonym, Entity, Part of Speech, Similar Word Structure, Similar Sentence Structure.</p>
                <a href="https://github.com/NoteSpaceX/Searchable " class="info ">Learn More</a>
            </div>
        </div>
        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="assets/Graphics/healthruwords.png">
            <div class=" mask col-md-4  ">

                <h2>HealThruWords</h2>
                <p>An android app that displays quotes from a <a href=" https://market.mashape.com/healthruwords/universal-inspirational-quotes " class="link" id="pixel">Mashape API,</a> contains a chat room and a bunch of other fun features.
                </p>
                <a href="https://github.com/annabuyevich/HealThruWords " class="info ">Learn More</a>
            </div>
        </div>

        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="assets/Graphics/StudyTipsBlog.png">
            <div class=" mask col-md-4   ">

                <h2>StudyTipsBlog</h2>
                <p>Allows the users to write their own study tip that contains a picture, description, and a rate of how helpful the tip is.

                </p>
                <a href="https://github.com/annabuyevich/StudyTipsBlog " class="info " id="pixel">Learn More</a>
            </div>
        </div>




    </div>
</div>