<div class="main container">
    <!-- FOURTH EXAMPLE -->
    <div class="row">
        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="assets/Graphics/StudyTipsBlog.png">
            <div class=" mask col-md-4   ">

                <h2>StudyTipsBlog</h2>
                <p>Allows the users to write their own study tip that contains a picture, description, and a rate of how helpful the tip is.

                </p>
                <a href="https://github.com/annabuyevich/StudyTipsBlog " class="info " id="pixel">Learn More</a>
            </div>
        </div>
        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="assets/Graphics/healthruwords.png">
            <div class=" mask col-md-4  ">

                <h2>HealThruWords</h2>
                <p>An android app that displays quotes from a <a href=" https://market.mashape.com/healthruwords/universal-inspirational-quotes " class="link" id="pixel">Mashape API,</a> contains a chat room and a bunch of other fun features.
                </p>
                <a href="https://github.com/annabuyevich/HealThruWords " class="info ">Learn More</a>
            </div>
        </div>
        <div class="view view-fourth col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
            <img src="assets/Graphics/Searchable.png" />
            <div class="mask col-md-4  ">
                <h2>Searchable</h2>
                <p>A text editor with complex search features. Searches Synonym, Entity, Part of Speech, Similar Word Structure, Similar Sentence Structure.</p>
                <a href="https://github.com/NoteSpaceX/Searchable " class="info ">Learn More</a>
            </div>
        </div>

    </div>
</div>