p {
    color: #fff;
}

.link {
    color: #fff;
}

.link:hover {
    color: #c9302c;
    border: none;
}

a {
    text-align: right;
    color: #fff;
    margin: 10px 5px 5px 5px;
    padding: 3px;
}

a:hover {
    color: #333;
    text-shadow: none;
}