p {
    color: #fff;
    font-size: 2.5rem;
}

.link {
    color: #fff;
}

.link:hover {
    color: #c9302c;
    border: none;
}

a {
    text-align: right;
    color: #fff;
    margin: 10px 5px 5px 5px;
    padding: 3px;
}

a:hover {
    color: #333;
    text-shadow: none;
}

@media only screen and (max-device-width: 1000px) {
    p {
        height: 50px;
        font-size: 1.3rem;
        margin-top: 10px;
        width: 190px;
    }
}