<div class="main container">
    <!-- FOURTH EXAMPLE -->
    <div class="row">
        <div class="view view-fourth col-md-4">
            <img src="assets/Graphics/java.png">
            <div class="mask">
                <h2>HealThruWords</h2>

            </div>
        </div>
        <div class="view view-fourth col-md-4">
            <img src="assets/Graphics/c++.png" />
            <div class="mask">
                <h2>Learning</h2>

            </div>
        </div>
        <div class="view view-fourth col-md-4">
            <img src="assets/Graphics/python.png" />
            <div class="mask">
                <h2>Searchable</h2>

            </div>
        </div>
        <div class="view view-fourth col-md-4">
            <img src="assets/Graphics/html_css.png" />
            <div class="mask">
                <h2>StudyTipsBlog</h2>
                <h2>Portfolio</h2>

            </div>
        </div>
        <div class="view view-fourth col-md-4">
            <img src="assets/Graphics/javascript_jquery.png" />
            <div class="mask">
                <h2>StudyTipsBlog</h2>

            </div>
        </div>
        <div class="view view-fourth col-md-4">
            <img src="assets/Graphics/bootstrap.png" />
            <div class=" mask ">
                <h2>StudyTipsBlog</h2>
                <h2>Portfolio</h2>

            </div>
        </div>
        <div class="view view-fourth col-md-4 ">
            <img src="assets/Graphics/nodejs_express.png" />
            <div class="mask ">
                <h2>StudyTipsBlog</h2>

            </div>
        </div>
        <div class="view view-fourth col-md-4 ">
            <img src="assets/Graphics/mongodb.png" />
            <div class="mask ">
                <h2>StudyTipsBlog</h2>

            </div>
        </div>
        <div class="view view-fourth col-md-4 ">
            <img src="assets/Graphics/angular.png" />
            <div class="mask ">
                <h2>Portfolio</h2>

            </div>
        </div>


    </div>

</div>